.container {
    padding: 2rem;
    text-align: center;
    position: relative;
}

.util_container {
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 1.5rem;
}

.comparison_container {
    display: flex;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
}