nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background-color: rgba(0, 0, 0, 0.5);
    height: var(--navbar-height);
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    z-index: 10;
}

.navbar-logo {
    height: 100px;
    margin-right: 10px;
}

.navbar-left, .navbar-right {
    display: flex;
    align-items: center;
    a.kirby {
        background: none;
        border: none;
        padding: 0;
        cursor: pointer;
        font: inherit;
        color: aliceblue;
        text-decoration: none;
    }
    a.kirby:hover {
        text-decoration: underline;
    }
    a.kirby:active {
        img {
            animation: KirbyJerk 0.05s ease-in-out infinite alternate;
        }
    }
}

.navbar-right {
    gap: 10px;

    .active {
        color: yellow;
    }
}

@keyframes KirbyJerk {
    from {
        height: 100px;
    }
    to {
        height: 120px;
    }
}