.indicatorWrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 100%;
    p {
        font-size: 14px;
        white-space: nowrap;
        text-align: end;
        position: absolute;
        right: calc(50% + 20px);    
        
        visibility: hidden;
        opacity: 0;
        transform: translateX(50%);
        transition: opacity 300ms ease,
                    visibility 300ms ease,
                    font-size 300ms ease,
                    transform 300ms ease;
    }
}

.indicatorContainer {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.indicatorContainer:hover p {
    visibility: visible;
    opacity: 0.5;
    transform: translateX(0);
}

.indicatorContainer:hover p.active {
    font-size: 22px;
    opacity: 1;
}

.indicator {
    filter: grayscale(100%);
    background: radial-gradient(circle at center,
        rgb(109, 255, 0) 0%,
        rgb(109, 255, 0) 30%,
        rgb(84, 191, 0) 30%,
        rgb(84, 191, 0) 40%,
        rgb(68, 159, 0) 40%, 
        rgb(68, 159, 0) 60%, 
        rgb(44, 113, 0) 60%,  
        rgb(44, 113, 0) 100% 
    );

    width: 20px;
    height: 20px;
    border: none; 
    border-radius: 50%;

    transition: filter 300ms ease, background 300ms ease, width 300ms ease, height 300ms ease;
}

.indicator:hover {
    filter: grayscale(50%);
    cursor: pointer;
    transition: filter 300ms ease, background 300ms ease;
}

.indicator.active {
    filter: grayscale(0%);
    background: radial-gradient(circle at center,
        rgb(109, 255, 0) 0%,
        rgb(109, 255, 0) 30%,
        rgb(84, 191, 0) 30%,
        rgb(84, 191, 0) 40%,
        rgb(68, 159, 0) 40%, 
        rgb(68, 159, 0) 60%, 
        rgb(44, 113, 0) 60%,  
        rgb(44, 113, 0) 100% 
    );

    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border: none; 
    border-radius: 50%;
}