.indicatorContainer {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    width: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.indicator {
    filter: grayscale(100%);
    background: radial-gradient(circle at center,
        rgb(109, 255, 0) 0%,
        rgb(109, 255, 0) 30%,
        rgb(84, 191, 0) 30%,
        rgb(84, 191, 0) 40%,
        rgb(68, 159, 0) 40%, 
        rgb(68, 159, 0) 60%, 
        rgb(44, 113, 0) 60%,  
        rgb(44, 113, 0) 100% 
    );

    width: 20px;
    height: 20px;
    border: none; 
    border-radius: 50%;

    transition: filter 300ms ease, background 300ms ease, width 300ms ease, height 300ms ease;
}

.indicator:hover {
    filter: grayscale(50%);
    cursor: pointer;
    transition: filter 300ms ease, background 300ms ease;
}

.indicator.active {
    filter: grayscale(0%);
    background: radial-gradient(circle at center,
        rgb(109, 255, 0) 0%,
        rgb(109, 255, 0) 30%,
        rgb(84, 191, 0) 30%,
        rgb(84, 191, 0) 40%,
        rgb(68, 159, 0) 40%, 
        rgb(68, 159, 0) 60%, 
        rgb(44, 113, 0) 60%,  
        rgb(44, 113, 0) 100% 
    );

    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border: none; 
    border-radius: 50%;
}