.presetSelector {
    display: flex;
    justify-content: center;
    select {
        width: 200px;
        text-align: center;
    }
}

.presetmapPage {
    height: calc(100vh - var(--navbar-height));
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.presetmapPage::-webkit-scrollbar {
    display: none;
}

.section {
    width: 100%;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    overflow: hidden;
}