.container {
    padding: 0 100px;
    text-align: left;

    section {
        margin-bottom: 30px;
        padding: 30px;
        border: 1px solid gray;

        display: flex;
        flex-direction: column;
    }
}

.block_card {
    display: flex;
    align-items: center;
    margin: 20px 0;

    img {
        image-rendering: pixelated;
    }

    div {
        margin-left: 20px;

        h3 {
            margin: 0 0;
        }
    }
}

.maze_container {
    margin-inline: auto;
    margin-top: 20px;
}