.container {
    text-align: left;
    height: calc(100vh - var(--navbar-height));
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none;

    section {
        min-height: calc(100vh - var(--navbar-height));
        width: 100%;
        display: flex;
        justify-content: center;
        scroll-snap-align: start;
        scroll-snap-stop: always;

        > div {
            padding: 2rem 7rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}

.block_card {
    display: flex;
    align-items: center;
    margin: 20px 0;

    img {
        image-rendering: pixelated;
    }

    div {
        margin-left: 20px;

        h3 {
            margin: 0 0;
        }
    }
}

.maze_container {
    margin-inline: auto;
    margin-top: 20px;
}

.maze_block {
    width: 64px;
    height: 64px;
}