@font-face {
    font-family: 'Minecraft';
    src: url('./font/MinecraftRegular-Bmg3.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Minecraft';
    src: url('./font/MinecraftItalic-R8Mo.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Minecraft';
    src: url('./font/MinecraftBold-nMK1.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Minecraft';
    src: url('./font/MinecraftBoldItalic-1y1e.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

:root {
  --text: aliceblue;
  --text-h: aliceblue;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --mincraft-font: 'Minecraft', sans-serif;

  font: 18px/145% var(--mincraft-font);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --navbar-height: 60px;
  --navbar-icon-size: 50px;
  --navbar-compass-icon-size: 35px;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

#root {
  /* width: 1126px; */
  max-width: 100%;
  /* margin: 0 auto; */
  padding-top: var(--navbar-height);
  font-family: var(--mincraft-font);
  text-align: center;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-image: url('../public/blocks/end_portal.png');
  background-repeat: repeat;
}

body {
  margin: 0;
  background: black;
}

h1,
h2 {
  font-family: var(--mincraft-font);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}

code,
.counter {
  font-family: var(--mincraft-font);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}

/* Icon */
.navbar-icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.navbar-title {
  color: aliceblue;
  text-decoration: none;
  display: block;
  position: fixed;
  left: calc(20px + var(--navbar-icon-size) + 1rem);
  text-shadow: 3px -2px 4px rgba(255,255, 255, 0.5);
  animation: navbarDawnToDusk 0.3s forwards;
}

.navbar-icon-container:hover .navbar-title {
  animation: navbarDuskToDawn 0.3s forwards;
}

@keyframes navbarDuskToDawn {
  0% {
    color: aliceblue;
  }

  25% {
    text-shadow: 3px -2px 4px rgba(255,255, 255, 0.5);
  }

  50% {
    text-shadow: 4px 0 4px rgba(255,255, 255, 0.5);
  }

  75% {
    text-shadow: 0 2px 4px rgba(255,255, 255, 0.5);
  }

  100% {
    color: burlywood;
    text-shadow: -3px 2px 4px rgba(255,255, 255, 0.5);
  }
}

@keyframes navbarDawnToDusk {
  0% {
    color: burlywood;
    text-shadow: -3px 2px 4px rgba(255,255, 255, 0.5);
  }

  25% {
    text-shadow: 0 2px 4px rgba(255,255, 255, 0.5);
    
  }

  50% {
    text-shadow: 4px 0 4px rgba(255,255, 255, 0.5);
  }
  75% {
    text-shadow: 3px -2px 4px rgba(255,255, 255, 0.5);
  }

  100% {
    color: aliceblue;
  }
}

.chunk-icon {
  display: block;
  width: var(--navbar-icon-size);
  height: var(--navbar-icon-size);
  background-image: url("../public/icon/web-icon-spritesheet-full.png");
  background-size: calc(var(--navbar-icon-size) * 16) var(--navbar-icon-size);
  background-repeat: no-repeat;

  margin-right: 1rem;

  animation: duskToDawn 0.3s steps(15) forwards;
}

.navbar-icon-container:hover .chunk-icon {
  animation: dawnToDusk 0.3s steps(15) forwards;
}

@keyframes dawnToDusk {
  from {
    background-position: 0 0;
  }

  to {
    background-position: calc(var(--navbar-icon-size) * -15) 0;
  }
}

@keyframes duskToDawn {
  0% {
    background-position: calc(var(--navbar-icon-size) * -15) 0;
  }

  100% {
    background-position: 0 0;
  }
}

.compass-icon {
  display: block;
  position: fixed;
  top: calc(var(--navbar-height)/2 - var(--navbar-compass-icon-size)/2);
  left: calc(20px + var(--navbar-icon-size)/2 - var(--navbar-compass-icon-size)/2);
  width: var(--navbar-compass-icon-size);
  height: var(--navbar-compass-icon-size);
  background-image: url("../public/icon/web-icon-compass.png");
  background-size: calc(var(--navbar-compass-icon-size) * 29) var(--navbar-compass-icon-size);
  background-repeat: no-repeat;

  margin-right: 1rem;

  transform: translateY(0);
  transition: transform 0.3s ease;
}

.navbar-icon-container:hover .compass-icon {
  transform: translateY(5px);
}

@keyframes compassCW {
  from {
    background-position: 0 0;
  }

  to {
    background-position: calc(var(--navbar-compass-icon-size) * -28) 0;
  }
}

@keyframes compassCCW {
  0% {
    background-position: calc(var(--navbar-compass-icon-size) * -28) 0;
  }

  100% {
    background-position: 0 0;
  }
}

@keyframes compassDown {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(5px);
  }
}

@keyframes compassUp {
  from {
    transform: translateY(5px);
  }

  to {
    transform: translateY(0);
  }
}